.Weather-Forecast {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.forecastDay {
  text-align: center;
  width: 140px;
  padding: 15px;
}

.WeatherForecast-temperature-min {
  opacity: 0.5;
  margin-left: 5px;
}
