.Weather-Forecast {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.forecastDay {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

.WeatherForecast-temperature-min {
  opacity: 0.5;
  margin-left: 5px;
}

.forecastDay.WeatherIcon img {
  margin: 0 auto;
  padding: 0;
  height: 90px;
}
